<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <%- include('../partials/header') %>

    <main class="flex-grow">
      <!-- Hero Slider Section -->
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>


